################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Midify/copilot-chat/4ec6c968/sessions
/.vs/Midify/CopilotIndices/17.14.1091.29919
/.vs/Midify/DesignTimeBuild
/.vs/Midify/FileContentIndex
/.vs/Midify/v17/.futdcache.v2
/.vs/Midify/v17/.suo
/.vs/Midify/v17/DocumentLayout.backup.json
/.vs/Midify/v17/DocumentLayout.json
/.vs/ProjectEvaluation/midify.metadata.v9.bin
/.vs/ProjectEvaluation/midify.projects.v9.bin
/.vs/ProjectEvaluation/midify.strings.v9.bin
/Midify/bin/Debug/net9.0/Midify.dll
/Midify/bin/Debug/net9.0/Midify.exe
/Midify/bin/Debug/net9.0/Midify.pdb
/Midify/obj/Debug/net9.0/apphost.exe
/Midify/obj/Debug/net9.0/Midify.AssemblyInfo.cs
/Midify/obj/Debug/net9.0/Midify.AssemblyInfoInputs.cache
/Midify/obj/Debug/net9.0/Midify.csproj.CoreCompileInputs.cache
/Midify/obj/Debug/net9.0/Midify.dll
/Midify/obj/Debug/net9.0/Midify.pdb
/Midify/obj/Debug/net9.0/Midify.sourcelink.json
/Midify/obj/Debug/net9.0/ref/Midify.dll
/Midify/obj/Debug/net9.0/refint/Midify.dll
/Midify/properties/launchSettings.json
