################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Midify/copilot-chat/4ec6c968/sessions
/.vs/Midify/CopilotIndices/17.14.1091.29919
/.vs/Midify/DesignTimeBuild
/.vs/Midify/FileContentIndex
